<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/main/leftMain.css}">
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header header header-demo">
			<a class="logo">
                <img th:src="@{/upload/showImg?imgFile={headImageUrl}(headImageUrl=${curreentUser.headImage})}" style="width: 200px;height: 60px;padding:0 -15px!important;"/>
            </a>
			<ul class="layui-nav layui-layout-right" lay-filter="header-right">
				<li class="layui-nav-item" lay-unselect><a href="javascript:;">
						<span class="hidden-xs" th:text="${curreentUser.userName}"></span>:<cite id="manager">普通用户</cite>
				</a>
					<dl class="layui-nav-child">
						<dd layadmin-event="logout" style="text-align: center;">
							<a href="javascript:logout()">退出</a>
						</dd>
					</dl></li>

			</ul>
		</div>
		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"><a
						href="javascript:;">菜单</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="#" class="site-demo-active" data-url="/petInfo/list"
									data-id="4" data-title="宠物信息"> <i
									class="layui-icon layui-icon-add-circle"></i> 宠物信息
								</a>
							</dd>
							<dd>
								<a href="#" class="site-demo-active" data-url="/petPreOrder/list"
									data-id="7" data-title="就诊预约"> <i
									class="layui-icon layui-icon-add-circle"></i> 就诊预约
								</a>
							</dd>
							<dd>
								<a href="javascript:logout()"> <i
									class="layui-icon layui-icon-add-circle"></i> 安全退出
								</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>
		<div class="layui-tab layui-tab-brief" lay-filter="demo"
			lay-allowClose="true">
			<ul class="layui-tab-title site-demo-title">
				<li class="layui-this" lay-id="111"><i
					class="layui-icon layui-icon-home"></i>个人信息</li>
			</ul>
			<div class="layui-body layui-tab-content site-demo site-demo-body">
				<div class="layui-tab-item layui-show">
					<div style="text-align: center; padding-top: 100px">
						<iframe id="userInfoF" data-frameid="1000" scrolling="auto" frameborder="0" style="width:100%;height:100vh;"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-footer footer footer-demo">宠物医院后台管理@</div>
	</div>
	<script>
        /*<![CDATA[*/
        function logout() {
            layer.confirm('您确定要退出系统吗？',{
                btn:['确定','取消']
            }, function () {
                window.location.href="/login/logout";
            });
        }
        layui.use(['element','layer'],function () {
            var element = layui.element;
            var layer = layui.layer;
            //触发事件
            var active = {
                tabAdd: function (url,id,name) {
                    element.tabAdd('demo',{
                        title:name,
                        content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:100vh;"></iframe>',
                        id:id
                    });
                },
                tabChange:function (id) {
                    element.tabChange('demo',id);
                },
                tabDelete:function (id) {
                    element.tabDelete('demo',id);
                }
            };
            //当点击site-demo-active属性的标签时，即左侧菜单栏中的内容，触发事件
            $(".site-demo-active").on('click',function () {
                var dataid = $(this);
                //这时候要判断右侧的.layui-tab-title属性下的lay-id的li的数目，已经打开的tab的数量
                if($(".layui-tab-title li[lay-id]").length<= 0){
                    //比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"),dataid.attr("data-id"),dataid.attr("data-title"));
                }else{
                    //判断该tab项是否以及存在
                    var isData = false;//初始化一个标志，为false说明未打开该tab项
                    $.each($(".layui-tab-title li[lay-id]"),function () {
                        if($(this).attr("lay-id") === dataid.attr("data-id")){
                            isData = true;
                        }
                    });
                    if (isData === false){
                        //标志为false，新增一个tab
                        active.tabAdd(dataid.attr("data-url"),dataid.attr("data-id"),dataid.attr("data-title"));
                    }
                }
                active.tabChange(dataid.attr("data-id"));
            });
            // 页面加载完成打开用户信息界面
            window.onload = function () {
            	var userId = [[${curreentUser.userId}]];
            	var url = "/petUserInfo/editUser/" + userId;
            	$("#userInfoF").attr("src",url);
            }
        });
    </script>
</body>
</html>
