<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header layui-bg-cyan">
			<div class="layui-logo">贴吧后台管理</div>
			<ul class="layui-nav layui-layout-right layui-bg-cyan">
				<li class="layui-nav-item"><a href="javascript:;"
					id="myMessageInfo"> <img th:src="@{/images/head/xiaoxi.png}">
						<span class="layui-badge">9</span>
				</a></li>
				<li class="layui-nav-item"><a href="">个人中心<span
						class="layui-badge-dot"></span></a></li>
				<li class="layui-nav-item"><a href="javascript:;"
					th:if="${logininfo}"><img th:if="${logininfo}"
						th:src="@{/upload/showImg?imgFile={headImageUrl} (headImageUrl=${logininfo.headImageUrl})}"
						class="layui-nav-img"> <span th:if="${logininfo}"
						th:text="${logininfo.loginName}"></span> <span
						th:unless="${logininfo}">请登录</span> </a> <a href="/login"
					th:unless="${logininfo}"> <span th:unless="${logininfo}">请登录</span>
				</a>
					<dl class="layui-nav-child">
						<dd th:unless="${logininfo}">
							<a href="/register"><i icon></i>注册</a>
						</dd>
						<dd>
							<a href="javascript:;" id="openUsserInfo">修改信息</a>
						</dd>
						<dd>
							<a href="javascript:;" id="collectionInfo">收藏列表</a>
						</dd>
						<dd>
							<a href="/tbUser/exit">退出登录</a>
						</dd>
					</dl></li>
			</ul>
		</div>
		<div class="layui-side layui-bg-cyan">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree" lay-filter="test">
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">帖子管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="/main/bgmtPost" target="iframeMain">帖子列表</a>
							</dd>
							<dd>
								<a href="/main/mainCenter" target="iframeMain">帖子维护</a>
							</dd>
							<dd>
								<a href="/main/groupbgmt" target="iframeMain">群组管理</a>
							</dd>
							<dd>
								<a href="/tbUser/user" target="iframeMain">用户管理</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="javascript:;">系统设置</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="/sysDictType/list" target="iframeMain">字典表</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="layui-body" style="margin-left: 0px;">
			<!-- 内容主体区域 -->
		    <iframe src="/main/bgmtPost" frameborder="0" name="iframeMain" style="width: 100%;height: 100%;"></iframe>
		</div>
	</div>
	<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
		layui.use([ 'form', 'laypage', 'layer', 'layedit', 'jquery', 'element',
				'table' ], function() {
			var laypage = layui.laypage, layer = layui.layer;
			var layedit = layui.layedit;
			var $ = layui.jquery;
			var form = layui.form;
			var element = layui.element;
			var table = layui.table;
			layer.ready(function() {
				//alert($(document.body).height());
			});
		});
	</script>

</body>
</html>
