<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
	<div class="layui-container">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body">
						搜索帖子名称：
						<div class="layui-inline">
							<input class="layui-input" name="id" id="demoReload" autocomplete="off">
						</div>
						<button class="layui-btn" data-type="reload">搜索</button>
					</div>
				</div>
			</div>
		</div>
		<table id="postTable" lay-filter="postTable"></table>
		<script type="text/html" id="toolbarDemo">
		</script>
		<script type="text/html" id="barDemo">
  			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="isTop">置顶</a>
 			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
	</div>
	<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
	var datePage={
			total:0,
			limit:10,
			current:1
	};
		layui.use([ 'form', 'laypage', 'layer', 'layedit', 'jquery', 'element',
				'table' ], function() {
			var laypage = layui.laypage, layer = layui.layer;
			var layedit = layui.layedit;
			var $ = layui.jquery;
			var form = layui.form;
			var element = layui.element;
			var table = layui.table;
			layer.ready(function() {
				//alert($(document.body).height());  
				queryPostIfo();
			});
			table.render({
				elem : '#postTable',
  				toolbar : '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
  				defaultToolbar : [ 'filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
  					title : '提示',
  					layEvent : 'LAYTABLE_TIPS',
  					icon : 'layui-icon-tips'
  				} ],
  				title : '帖子详情表',
  				cols : [ [ {
  					type : 'checkbox',
  					fixed : 'left'
  				}, {
  					field : 'postId',
  					title : 'ID',
  					width : 120,
  					fixed : 'left',
  					unresize : true,
  					sort : true
  				}, {
  					field : 'postTitle',
  					title : '标题',
  					width : 140,
  					edit : 'text'
  				}, {
  					field : 'postContent',
  					title : '内容',
  					width : 150,
  					edit : 'text'
  				}, {
  					field : 'createTime',
  					title : '发布时间',
  					width : 80,
  					edit : 'text',
  					sort : true
  				}, {
  					field : 'userName',
  					title : '发布人',
  					width : 100
  				}, {
  					field : 'readCount',
  					title : '阅读量',
  					width : 60
  				}, {
  					field : 'postType',
  					title : '帖子类型',
  					width : 80,
  					templet : function(res) {
  						return '<em>' + res.postType + '</em>'
  					}
  				}, {
  					field : 'isTop',
  					title : '是否置顶',
  					width : 80,
  					templet : function(res) {
  						if(res.isTop=="1"){
  							return '<em>' + 是 + '</em>'
  						}else{
  							return '<em>' + 否 + '</em>'
  						}
  					}
  				}, {
  					fixed : 'left',
  					title : '操作',
  					toolbar : '#barDemo',
  					width : 170
  				} ] ],
  				page : true,
  				data: []
  			});
			 // 分页数据查询
			function queryPostIfo(currPage){
				  $.ajax({
			          url:'/tbPostInfo/queryPostinfo',
			          type:'post',
			          dataType:'json',
			          data:{
			        	  "limit":datePage.limit,
			        	  "page":currPage,
			        	  "searchValue":""
			          },
			          success:function(res){
			        	  //table.render({data:res.obj.records});
			        	  table.render({
			  				elem : '#postTable',
			    				toolbar : '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
			    				defaultToolbar : [ 'filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
			    					title : '提示',
			    					layEvent : 'LAYTABLE_TIPS',
			    					icon : 'layui-icon-tips'
			    				} ],
			    				title : '帖子详情表',
			    				cols : [ [ {
			    					type : 'checkbox',
			    					fixed : 'left'
			    				}, {
			    					field : 'postId',
			    					title : 'ID',
			    					width : 80,
			    					fixed : 'left',
			    					unresize : true,
			    					sort : true
			    				}, {
			    					field : 'postTitle',
			    					title : '标题',
			    					width : 120,
			    					edit : 'text'
			    				}, {
			    					field : 'postContent',
			    					title : '内容',
			    					width : 150,
			    					edit : 'text'
			    				}, {
			    					field : 'createTime',
			    					title : '发布时间',
			    					width : 80,
			    					edit : 'text',
			    					sort : true
			    				}, {
			    					field : 'userName',
			    					title : '发布人',
			    					width : 100
			    				}, {
			    					field : 'readCount',
			    					title : '阅读量',
			    					width : 60
			    				}, {
			    					field : 'postType',
			    					title : '帖子类型',
			    					width : 80,
			    					templet : function(res) {
			    						return '<em>' + res.postType + '</em>'
			    					}
			    				}, {
			      					field : 'isTop',
			      					title : '是否置顶',
			      					width : 80,
			      					templet : function(res) {
			      						if(res.isTop=="1"){
			      							return '<em>' + '是' + '</em>';
			      						}else{
			      							return '<em>' + '否' + '</em>';
			      						}
			      					}
			      				}, {
			    					fixed : 'right',
			    					title : '操作',
			    					toolbar : '#barDemo',
			    					width : 170
			    				} ] ],
			    				page : true,
			    				data: res.obj.records
			    			});
			          }
			      })
			  };
			//监听工具条 
			  table.on('tool(postTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			    var data = obj.data; //获得当前行数据
			    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			    var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
			   
			    if(layEvent === 'detail'){ //查看
			      //do somehing
			    } else if(layEvent === 'del'){ //删除
			    	debugger;
			      layer.confirm('真的删除行么', function(index){
			        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
			        layer.close(index);
			        //向服务端发送删除指令
			        delPost(data.postId);
			      });
			    } else if(layEvent === 'edit'){ //编辑
			      //do something
			      updatePost(data.postId);
			      //同步更新缓存对应的值
			     /*  obj.update({
			        username: '123'
			        ,title: 'xxx'
			      }); */
			    } else if(layEvent === 'isTop'){ //置顶
			    	var str="确定置顶此帖子？";
			    	layer.confirm(str, {btn:['确定', '取消'],title: "提示"},function(index){
			    		$.ajax({
			                type: "post",
			                url: "/tbPostInfo/isTop",
			                data: {"postId":data.postId,"isTop":"1"},
			                dataType: "json",
			                async: false,
			                success: function (data) {
			                    if (data.success == true) {
			                    	layer.close(index);
			                    	obj.update({
			        			        isTop: '1'
			        			    });
			                    } else {
			                        layer.msg(data.msg, {icon: 2});
			                    }
			                }
			            });
			        });
			    }else if(layEvent === 'LAYTABLE_TIPS'){
			      layer.alert('Hi，头部工具栏扩展的右侧图标。');
			    }
			  });
			function delPost(postId){
				 $.ajax({
			          url:'/tbPostInfo/delPostById',
			          type:'post',
			          dataType:'json',
			          data:{
			        	  "postId":postId
			          },
			          success:function(res){
			        	  if(res.success==true){
			        		  layer.msg("删除成功！");
			        	  }else{
			        		  layer.msg("删除失败！");
			        	  }
			          }
				 });
			}
			function updatePost(postId){
				var a = layer.open({
				    type: 2,
				    area: ['60%','450px'],
				    title: '帖子详情',
				    shadeClose: true,
				    content: ['/tbPostInfo/updatePostInfo?postId='+postId,'yes'],
				    yes:function(){
				        alert(1);
			        },
			        btn: function(){
			            layer.closeAll();
			        }
			  });
			}

		});
	</script>

</body>
</html>