<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
 
<div class="layui-container">
<div class="site-text site-block">
	<form class="layui-form">
		<div class="layui-form-item">
			   	<textarea id="post_content"  style="display: none;"></textarea>
			   	<input id="showContent" th:value="${tbPostInfo.postContent}" type="hidden">
			   	<input id="postId" th:value="${tbPostInfo.postId}" type="hidden">
	    </div>
	    <div class="layui-form-item">
			 <button class="layui-btn"  lay-submit lay-filter="updatePost">发表</button>
		</div>
	</form>
</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery','layedit'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var layedit = layui.layedit;
        var index=layedit.build('post_content'); //建立编辑器
        layer.ready(function(){
        	 layedit.setContent(index, $("#showContent").val(), true);
        	//$("#post_content").val($("#showContent").val());
        }); 
       // layedit.setContent(index,$("#showContent").val());
        form.on('submit(updatePost)',function (data) {
        	var updateContent= layedit.getContent(index);
        	if(updateContent.length==0){
        		layer.msg("请输入修改的内容");
        		return false;
        	}
    	   //获得图片上传路径：
            $.ajax({
                url:'/tbPostInfo/updatePostById',
                data:{
                	"postId":$("#postId").val(),
                	"postContent":updateContent
                },
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.success == true){
            
                    	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    	parent.layer.close(index);
                    	//layerClose();
                    	layer.closeAll();
                    }else{
                        layer.msg(data.msg);
                    }
                }
            })
            return false;
        })
    });
</script>
</body>
</html>