<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
 
<div class="layui-container">
	<div class="layui-form-item">
	    <label class="layui-form-label">群组名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="group_title" th:value="${groupInfo.tbGroup.groupName}" id="group_title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
	    </div>
	</div>
	<div id="test1" class="demo-transfer"></div>
	<input type="hidden" th:value="${groupInfo.data1}" id="yuzeDate">
	<input type="hidden" th:value="${groupInfo.tbGroup.groupId}" id="hidden_groupId">
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery','transfer','util'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var transfer = layui.transfer;
        var util = layui.util;
        layer.ready(function(){
        	// layedit.setContent(index, $("#showContent").val(), true);
        	//$("#post_content").val($("#showContent").val());
        	userAll();
        });
        function userAll(){
        	$.ajax({
  	          url:'/tbGroupMessage/queryUserInfo',
  	          type:'post',
  	          dataType:'json',
  	          async:false,
  	          data:{},
  	          success:function(res){
  	        	  if(res.success==true){
  	        		 //基础效果
  	                transfer.render({
  	                  elem: '#test1'
  	                  ,data: res.obj,
  	                  id:"myGroup",
  	                  value:$("#yuzeDate").val()
  	                })
  	        	  }
   	          }
  	      	});
        }
        window.getVaueTr=function(){
        	var getDate=transfer.getData('myGroup'); //获取右侧数据
        	if(getDate.length==0){
        		layer.msg("请选择需要加入的成员");
        		return;
        	}
        	var dateinfo=JSON.stringify(getDate);
        	return dateinfo;
        }
      	//批量办法定事件
        util.event('lay-demoTransferActive', {
        	getData: function(othis){
            var getData = transfer.getData('myGroup'); //获取右侧数据
            layer.alert(JSON.stringify(getData)); 
            return getData;
          }
          ,reload:function(){
            /* //实例重载
            transfer.reload('myGroup', {
              title: ['文人', '喜欢的文人']
              ,value: ['2', '5', '9']
              ,showSearch: true
            }) */
          }
        });
      	
    });
    function getDatePage(){
  		var groupName=$("#group_title").val();
  		if(groupName.length==0){
  			layer.msg("请输入群组标题");
  			return;
  		}
  		var getDataInfo=getVaueTr();
  		return {
  			"groupName":groupName,
  			"groupInfo":getDataInfo,
  			"groupId":$("#hidden_groupId").val()
  		}
  	}
</script>
</body>
</html>