<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style type="text/css">
  	.div_biaoTi:hover {
		background-color: rbg(246,246,256)
	}
  </style>
</head>
<div class="layui-layout">
 <div class="layui-container" style="margin-top: 10px;">

	<blockquote class="layui-elem-quote">
     	<div class="layui-row">
     		<div class="layui-col-md9">
		    	<h5>收藏页面</h5>
		    </div>
     	</div>
     </blockquote>
	<div style="border:1px solid rgb(222,224,231);">
		<ul id="biuuu_city_list"></ul>
 	 	 <div id="postPage"></div>
	</div>
	</div>
</div>  
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var datePage={
		total:0,
		limit:10,
		current:1
};
layui.use(['laypage', 'layer','jquery','element'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  var $ = layui.jquery;
  var element = layui.element;
  
  layer.ready(function(){
	  queryPostIfo(1);
  }); 
  
  // 分页数据查询
  function queryPostIfo(currPage){
	  var getSearch=$("text_search").val();
	  $.ajax({
		  url:'/tbCollect/queryCollectList',
          type:'post',
          dataType:'json',
          data:{
        	  "limit":datePage.limit,
        	  "page":currPage,
        	  "searchValue":getSearch
          },
          success:function(res){
        	  //设置页面 ,pageSize,crrurt
        	  datePage.total=res.obj.total;
        	  laypage.render({elem: 'postPage',
        		    count: datePage.total,
        		    limit: datePage.limit,
        		    curr:currPage,
        		    jump:function(obj,first){
        		        if(!first) {
        		　　　　    //第一次不执行,一定要记住,这个必须有,要不然就是死循环
        		            var curr = obj.curr;
        		　　			//回调该展示数据的方法,数据展示
        		            queryPostIfo(curr);
        		        }
        		    }
        	   });
        	  var arr = [];
        	  layui.each(res.obj.records, function (index, res) {
        		  debugger;
                  var appStr="";
                  appStr=appStr+"<div class=\"layui-row\" style=\"height: 40px;line-height: 40px;\">";
                  appStr=appStr+"  <div class=\"layui-col-xs1\">";
                  appStr=appStr+"    <div class=\"grid-demo\" style=\"text-align: center;\">";
                  appStr=appStr+"  <div style=\"width: 50px;height: 20px;margin-top:10px;margin-left:5px;background-color: rgb(245,245,245);border: 1px solid rgb(231,231,231);text-align: center;line-height: 20px;\">"+res.tbPostInfo.readCount+"</div>";
                  appStr=appStr+"    </div>";
                  appStr=appStr+" </div>";
                  appStr=appStr+"  <div class=\"layui-col-xs6\">";
                  appStr=appStr+"  <div class=\"grid-demo\">";
                  appStr=appStr+"    <a  href=\"/tbPostInfo/tiebadetails?postId="+res.tbPostInfo.postId+"\" style=\"color: rgb(35,78,164)\">"+res.tbPostInfo.postTitle+"</a>";
                  appStr=appStr+"    </div>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"  <div class=\"layui-col-xs5\" style=\"color: rgb(203,203,203)\">";
                  appStr=appStr+"    <div class=\"grid-demo\">";
                  appStr=appStr+"	      <i class=\"layui-icon layui-icon-username\"></i>";
                  appStr=appStr+res.tbPostInfo.userName;
                  appStr=appStr+"		<span style=\"margin-left:15px;\">收藏时间：";
                  appStr=appStr+res.createTime;
                  appStr=appStr+"		</span>";
                  appStr=appStr+"   </div>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"<HR style=\"border:1 dashed #987cb9\" width=\"100%\" color=#987cb9 SIZE=1>";
                  appStr=appStr+"</div>";
                  arr.push(appStr);
              });
        	  var addDivInfo= arr.join('');
      		  document.getElementById('biuuu_city_list').innerHTML = addDivInfo;
          }
      })
  };
});
</script>

</body>
</html>