<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>贴吧平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style type="text/css">
  	.div_biaoTi:hover {
		background-color: rbg(246,246,256)
	}
  </style>
</head>
<div class="layui-layout">
	<div class="layui-header layui-bg-cyan" style="box-shadow: 2px 0px 10px #909090;left: 0;top: 0;z-index: 10000;position: fixed;width: 100%;height: 60px;">
		<div class="layui-form-item " style="align-items: center;padding: 10px;margin-left: 30%">
			  	<div class="layui-inline" >
					<div class="layui-input-inline layui-col-md8">
				  		<input class="layui-input" type="text" name="text_search" id="text_search"  style="width: 200px" autocomplete="off" placeholder="请输入需要查询的帖子">
				  	</div>
				  	<button class="layui-btn layui-icon layui-icon-search" lay-filter="search" id="but_search">搜索贴子</button>
				  </div>
		 </div>
      	<ul class="layui-nav layui-layout-right layui-bg-cyan">
		  <li class="layui-nav-item">
		    <a href="javascript:;" id="myMessageInfo">
		    	<img th:src="@{/images/head/xiaoxi.png}">
		    	<span class="layui-badge">9</span>
		    </a>
		  </li>
		  <li class="layui-nav-item">
		    <a href="/post/main">首页</a>
		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;" th:if="${logininfo}" ><img th:if="${logininfo}"  th:src="@{/upload/showImg?imgFile={headImageUrl}(headImageUrl=${logininfo.headImageUrl})}" class="layui-nav-img" >
		    	<span th:if="${logininfo}" th:text="${logininfo.loginName}"></span>
		    	<span th:unless="${logininfo}">请登录</span>
		    </a>
		    <a href="/login" th:unless="${logininfo}" >
		    	<span th:unless="${logininfo}" >请登录</span>
		    </a>
		    <dl class="layui-nav-child">
		      <dd th:unless="${logininfo}"><a href="/register"><i icon></i>注册</a></dd>
		      <dd><a href="javascript:;" id="openUsserInfo">修改信息</a></dd>
		      <dd><a href="javascript:;" id="collectionInfo">收藏列表</a></dd>
		      <dd th:if="${logininfo}"><a href="javascript:;" id="postUserInfo">个人信息</a></dd>
		      <dd><a href="/tbUser/exit">退出登录</a></dd>
		    </dl>
		  </li>
		</ul>
    </div>
 <div class="layui-container" style="margin-top: 60px;width: 90%;height: 900px;">
	<iframe id="ifreamMain" src="/main/mainCenter" frameborder="n o" scrolling="yes" style="width: 100%;height: 100%;"></iframe>
</div>  
</div>
<input type="hidden" id="loginInfoFlag" th:value="${loginFlag}">  
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form','laypage', 'layer','layedit','jquery','element'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  var layedit = layui.layedit;
  var $ = layui.jquery;
  var form = layui.form;
  var element = layui.element;
  var layim = layui.layim;
  layer.ready(function(){
	  //alert($(document.body).height());  
  }); 
  $("#but_search").click(function(){
	  //ifream 切换
	  $("#ifreamMain").attr("src","/main/mainCenter");
	  //queryPostIfo(1);
  });
 
  $("#openUsserInfo").click(function(){
	  debugger;
	  var loginFlag=$("#loginInfoFlag").val();
	  if(loginFlag.length==0){
		  layer.msg("请先登录");
		  return;
	  }
	  var a = layer.open({
		    type: 2,
		    area: ['60%','450px'],
		    title: '个人信息',
		    shadeClose: true,
		    content: ['/updateUserInfo','yes']
	  });

  });
  $("#collectionInfo").click(function(){
	  debugger;
	  var loginFlag=$("#loginInfoFlag").val();
	  if(loginFlag.length==0){
		  layer.msg("请先登录");
		  return;
	  }
	  $("#ifreamMain").attr("src","/main/collection");
  });
  $("#myMessageInfo").click(function(){
	  $("#ifreamMain").attr("src","/main/message");
  });
  $("#postUserInfo").click(function(){
	  $("#ifreamMain").attr("src","/main/postUser");
  });
  window.colseOpen=function(){
	  layer.closeAll();
  }
  //postUserInfo
});
function closeOpen(){
	colseOpen();
}
</script>

</body>
</html>