<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
      <div class="layui-container">
	<div style="box-shadow: 2px 0px 10px #909090;text-align: center;">
		<form class="layui-form" action="">
			  <div class="layui-form-item" style="align-items: center;padding: 10px;">
			  	<div class="layui-inline" >
				  	<label class="layui-form-label">学校贴吧</label>
					<div class="layui-input-inline layui-col-md8">
				  		<input class="layui-input" type="text" name="search" style="width: 200px" lay-verify="search" autocomplete="off" placeholder="请输入需要查询的贴吧">
				  	</div>
				  	<button class="layui-btn layui-icon layui-icon-search" style="">进入贴吧</button>
				  </div>
			  </div>
		  </form>
	</div>
	<div style="border:1px solid rgb(222,224,231);">
		<div class="layui-row" style="height: 40px;line-height: 40px;">
		    <div class="layui-col-xs1">
		      <div class="grid-demo" style="text-align: center;">
		      	<div style="width: 50px;height: 20px;margin-top:10px;margin-left:5px;background-color: rgb(245,245,245);border: 1px solid rgb(231,231,231);text-align: center;line-height: 20px;">1</div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="grid-demo">
		      <a style="color: rgb(35,78,164)">游戏交易钓鱼诈骗</a>
		      </div>
		    </div>
		    <div class="layui-col-xs5" style="color: rgb(203,203,203)">
		      <div class="grid-demo">
			      <i class="layui-icon layui-icon-username"></i>
			      用户信息
		      </div>
		    </div>
 		 </div>
 		 <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
 		 <div class="layui-row" style="height: 40px;line-height: 40px;">
		    <div class="layui-col-xs1">
		      <div class="grid-demo" style="text-align: center;">
		      	<div style="width: 50px;height: 20px;margin-top:10px;margin-left:5px;background-color: rgb(245,245,245);border: 1px solid rgb(231,231,231);text-align: center;line-height: 20px;">1</div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="grid-demo">
		      <a style="color: rgb(35,78,164)">游戏交易钓鱼诈骗</a>
		      </div>
		    </div>
		    <div class="layui-col-xs5" style="color: rgb(203,203,203)">
		      <div class="grid-demo">
			      <i class="layui-icon layui-icon-username"></i>
			      用户信息
		      </div>
		    </div>
 		 </div>
 		 <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
 		 <div class="layui-row" style="height: 40px;line-height: 40px;">
		    <div class="layui-col-xs1">
		      <div class="grid-demo" style="text-align: center;">
		      	<div style="width: 50px;height: 20px;margin-top:10px;margin-left:5px;background-color: rgb(245,245,245);border: 1px solid rgb(231,231,231);text-align: center;line-height: 20px;">1</div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="grid-demo">
		      <a style="color: rgb(35,78,164)">游戏交易钓鱼诈骗</a>
		      </div>
		    </div>
		    <div class="layui-col-xs5" style="color: rgb(203,203,203)">
		      <div class="grid-demo">
			      <i class="layui-icon layui-icon-username"></i>
			      用户信息
		      </div>
		    </div>
 		 </div>
 		 <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
 		 <div id="postPage"></div>
 		 <ul id="biuuu_city_list"></ul> 
	</div>
	<form class="layui-form" action="">
		      <div class="layui-form-item" style="margin: 0 0 0;padding: 0 0 0 0px">
			    <label class="layui-form-label"><i class="layui-icon layui-icon-edit" style="background-color:#FFB800;color: white;"></i><strong>发布帖子</strong></label>
			  </div>
			  <div class="layui-form-item">
			 	<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
			  </div>
			  <div class="layui-form-item">
			   	<textarea id="demo" style="display: none;"></textarea>
			  </div>
			  <div class="layui-form-item">
			    <button class="layui-btn" lay-submit="" lay-filter="demo2">发表</button>
			  </div>
	</form>
	
</div>    
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['laypage', 'layer','layedit'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  var layedit = layui.layedit;
  layedit.build('demo'); //建立编辑器
  //总页数低于页码总数
  laypage.render({
    elem: 'postPage'
    ,count: 50 //数据总数
  });
  
});
</script>

</body>
</html>