<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/css/post/my.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/post/pifu.css}">
<link rel="stylesheet" th:href="@{/css/post/dl.css}">
<link rel="stylesheet" th:href="@{/css/post/post.css}">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<div class="layui-layout">

	<div class="layui-container" style="margin-top: 10px;">
		<blockquote class="layui-elem-quote" style="height: 50px;">
			<div class="layui-row">
				<div class="layui-col-md9">
					<h4 th:text="${postDetails.postTitle}"></h4>
				</div>
				<div class="layui-col-md3">
					<a href="javascript:;"  id="addCollectPostById"  class="layui-btn layui-btn-sm">收藏</a>
					<a href="#layuiSendTieZi" class="layui-btn layui-btn-sm">回复</a>
				</div>
			</div>
			<input type="hidden" th:value="${postDetails.postId}" id="hidden_postDetailsId">
		</blockquote>
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;font-size: 14px;">
			<legend>帖子内容</legend>
			<div class="layui-field-box">
			    <div class="layui-card">
					<div class="layui-card-body">
						<span id="showPostById"> </span>
						<input type="hidden" id="myShowContent" th:value="${postDetails.postContent}">
					</div>
				</div>
			</div>
		</fieldset>
		<div class="project-content"
			style="background-color: #f2f2f2; padding: 0 0 0 0 px;">
			<ul id="biuuu_badetails_list"></ul>
			<div id="postPage"></div>
		</div>
		<form class="layui-form" action="" lay-filter="layuiSendTieZi"
			id="layuiSendTieZi">
			<div class="layui-form-item"
				style="margin: 0 0 0; padding: 0 0 0 0px">
				<label class="layui-form-label" style="width: 120px;"><i
					class="layui-icon layui-icon-edit"
					style="background-color: #FFB800; color: white;"></i><strong>回复帖子</strong></label>
			</div>
			<div class="layui-form-item">
				<textarea id="comment_content" style="display: none;"></textarea>
			</div>
			<div class="layui-form-item">
				<button class="layui-btn" lay-submit lay-filter="tieba_send">发表</button>
			</div>
		</form>
	</div>
</div>
<input type="hidden" id="hidden_postContent" th:value="${postDetails.postContent}">
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
var datePage={
		total:0,
		limit:10,
		current:1
};
layui.use(['form','laypage', 'layer','jquery','element','laytpl','layedit'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  var layedit = layui.layedit;
  var $ = layui.jquery;
  var form = layui.form;
  var element = layui.element;
  var edindex=layedit.build('comment_content'); //建立编辑器
  
  layer.ready(function(){
	  //document.getElementById('disFWBContent').innerHTML = $("#hidden_postContent").val();
	  queryPostIfo(1);
	 var showContent= $("#myShowContent").val();
	  $("#showPostById").append(showContent);
  });
  $('#addCollectPostById').click(function(a){
	  $.ajax({
          url:'/tbCollect/addCollect',
          type:'post',
          dataType:'json',
          data:{"postId":$("#hidden_postDetailsId").val()},
          success:function (res) {
              if (res.success == true){
            	  layer.msg("收藏成功！");
            	  //修改a标签内容
            	  document.getElementById("addCollectPostById").innerText="已收藏";
            	  //$("#addCollectPostById").innerText="已收藏";
              }else{
                  layer.msg(res.msg);
              }
          }
      })
  });
  //分页数据查询
  function queryPostIfo(currPage){
	  var getSearch=$("text_search").val();
	  $.ajax({
          url:'/tbCommentInfo/getCommentListByPostId?postId='+$("#hidden_postDetailsId").val(),
          type:'post',
          dataType:'json',
          async:true,
          data:{
        	  "limit":datePage.limit,
        	  "page":currPage,
        	  "searchValue":getSearch
          },
          success:function(res){
        	  //设置页面 ,pageSize,crrurt
        	  datePage.total=res.obj.total;
        	  laypage.render({elem: 'postPage',
        		    count: datePage.total,
        		    limit: datePage.limit,
        		    curr:currPage,
        		    jump:function(obj,first){
        		        if(!first) {
        		　　　　    //第一次不执行,一定要记住,这个必须有,要不然就是死循环
        		            var curr = obj.curr;
        		　　			//回调该展示数据的方法,数据展示
        		            queryPostIfo(curr);
        		        }
        		    }
        	   });
        	  var arr = [];
        	  layui.each(res.obj.records, function (index, res) {
                  var appStr="";
                  appStr=appStr+"<div class=\"layui-row\" style=\"border: 1px solid #e5e5e5;margin-top: 10px;border-radius:5px\">";
                  appStr=appStr+"  <div class=\"layui-col-md2\" style=\"background-color: #fafbfc\">";
                  appStr=appStr+"    <div class=\"tx\">";
                  appStr=appStr+"  		<a href=\"\">";
                  appStr=appStr+"    		<img src=\"/upload/showImg?imgFile="+res.headImageUrl+"\" class=\"layui-nav-img\">";
                  appStr=appStr+" 		</a>";
                  appStr=appStr+"  	 </div>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"    			<div class=\"layui-col-md12\" style=\"background-color: white;\">";
                  appStr=appStr+"     				<div class=\"layui-row\" style=\"font-size: 10px;height: 12px;\">";
                  appStr=appStr+"  					<ul class=\"plbg\" style=\"background-color: none;\">";
                  appStr=appStr+"  <div class=\"f z13 div_left\">"+res.userName+"<span class=\"jl\">0</span></div>";
                  appStr=appStr+"    <div class=\"r\"><span class=\"z13 div_right\">"+res.commentTime+"</span></div>";
                  appStr=appStr+"	      </ul>";
                  appStr=appStr+"	<hr class=\"layui-bg-cyan\">";
                  appStr=appStr+"   </div>";
                  appStr=appStr+"   <div class=\"layui-row\">";
                  appStr=appStr+"		<span>"+res.commentContent+"</span>";
                  appStr=appStr+"		<hr class=\"layui-bg-cyan hr_xs\">";
                  appStr=appStr+"	</div>";
                  appStr=appStr+"	<div class=\"layui-row\" style=\"font-size: 10px;\">";
                  appStr=appStr+"		<div class=\"div_right\">";
                  appStr=appStr+"			<a href=\"javascript:;\" id='"+res.commentId+"' onclick=\"reply_btn('#"+res.commentId+"','"+res.commentId+"')\" class=\"reply_btn\">回复</a>";
                  appStr=appStr+"		</div>";
                  appStr=appStr+"	</div>";
            	  appStr=appStr+"<div id='top_"+res.commentId+"'>";
                  var itemInfo=queryDetailsItem(res.postId,res.commentId)
                  if(undefined !=itemInfo &&  itemInfo.length>0){
                	  appStr=appStr+itemInfo;
                  }
                  appStr=appStr+"</div>";
                  appStr=appStr+"</div>";
                  appStr=appStr+"</div>";
                  arr.push(appStr);
              });
        	  var addDivInfo= arr.join('');
      		  document.getElementById('biuuu_badetails_list').innerHTML = addDivInfo;
          }
      })
  };
  function queryDetailsItem(postId,commentId){
	  var addDivInfo;
	  $.ajax({
          url:'/tbCommentInfo/getCommentByPostIdAndComId',
          type:'post',
          dataType:'json',
          async:false,
          data:{
        	  "postId":postId,
        	  "commentId":commentId
          },
          success:function(res){
        	  debugger;
              var arr = [];
        	  layui.each(res.obj.records, function (index, res) {
                  var appStr="";
                  appStr=appStr+"<div class=\"layui-row\" style=\"margin-top: 5px;text-align: center;padding-bottom:10px;\">";
                  appStr=appStr+"  <div class=\"postDetailsItem\">";
                  appStr=appStr+"    <ul>";
                  appStr=appStr+"  		<li class=\"postDetailsItem_title\"><span style=\"margin-left: 10px;color: 3b65a1\"> ";
                  if(res.toUserName!=null && res.toUserName.length>0){
                	  appStr=appStr+res.userName+"回复 "+res.toUserName;
                  }else{
                	  appStr=appStr+res.userName;
                  }
                  appStr=appStr+"：</span> "+res.commentContent+"</li>";
                  appStr=appStr+"    	<li class=\"postDetailsItem_li_pingjia\">";
                  appStr=appStr+" 		<div style=\"margin-right: 10px;text-align: right;font-size: 11px;\">";
                  appStr=appStr+"  	 		<span>"+res.commentTime+"</span>";
                  appStr=appStr+"  			<a href=\"javascript:;\" id='"+res.commentId+"' onclick=\"reply_btn('#"+res.commentId+"','"+commentId+"')\" class=\"reply_btn\">回复</a>";
                  appStr=appStr+"    	</li>";
                  appStr=appStr+"     </ul>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"  </div>";
                  arr.push(appStr);
              });
        	  addDivInfo= arr.join('');
          }
      })
      return addDivInfo;
  }
  form.on('submit(tieba_send)',function (data) {
	  $.ajax({
          url:'/tbCommentInfo/followCommentByPostId',
          type:'post',
          dataType:'json',
          data:{"postId":$("#hidden_postDetailsId").val(),"commentContent":layedit.getContent(edindex)},
          success:function (res) {
              if (res.success == true){
            	  layer.msg("回复发布成功！");
            	  queryPostIfo(1);
            	  //layuiSendTieZi
            	  $('#layuiSendTieZi')[0].reset();
            	  form.render();
            	  layedit.setContent(edindex,"");
              }else{
                  layer.msg(res.msg);
              }
          }
      })
      return false;
  })
  $('.hf').click(function(a){
	    $("'ul_"+a+"'").show();
	});
  $('#collectionInfo').click(function(a){
	  alert(1);
	  currPage=1;
	  $.ajax({
          url:'/tbCollect/queryCollectList',
          type:'post',
          dataType:'json',
          data:{
        	  "limit":datePage.limit,
        	  "page":currPage
          },
          success:function(res){
        	  if(res.success==false){
        		  layer.msg(res.msg);
        		  return;
        	  }
        	  //设置页面 ,pageSize,crrurt
        	  datePage.total=res.obj.total;
        	  laypage.render({elem: 'postPage',
        		    count: datePage.total,
        		    limit: datePage.limit,
        		    curr:currPage,
        		    jump:function(obj,first){
        		        if(!first) {
        		　　　　    //第一次不执行,一定要记住,这个必须有,要不然就是死循环
        		            var curr = obj.curr;
        		　　			//回调该展示数据的方法,数据展示
        		            queryPostIfo(curr);
        		        }
        		    }
        	   });
        	  var arr = [];
        	  layui.each(res.obj.records, function (index, res) {
                  var appStr="";
                  appStr=appStr+"<div class=\"layui-row\" style=\"height: 40px;line-height: 40px;\">";
                  appStr=appStr+"  <div class=\"layui-col-xs1\">";
                  appStr=appStr+"    <div class=\"grid-demo\" style=\"text-align: center;\">";
                  appStr=appStr+"  <div style=\"width: 50px;height: 20px;margin-top:10px;margin-left:5px;background-color: rgb(245,245,245);border: 1px solid rgb(231,231,231);text-align: center;line-height: 20px;\">"+res.readCount+"</div>";
                  appStr=appStr+"    </div>";
                  appStr=appStr+" </div>";
                  appStr=appStr+"  <div class=\"layui-col-xs6\">";
                  appStr=appStr+"  <div class=\"grid-demo\">";
                  appStr=appStr+"    <a  href=\"/tbPostInfo/tiebadetails?postId="+res.postId+"\" style=\"color: rgb(35,78,164)\">"+res.postTitle+"</a>";
                  appStr=appStr+"    </div>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"  <div class=\"layui-col-xs5\" style=\"color: rgb(203,203,203)\">";
                  appStr=appStr+"    <div class=\"grid-demo\">";
                  appStr=appStr+"	      <i class=\"layui-icon layui-icon-username\"></i>";
                  appStr=appStr+res.userName;
                  appStr=appStr+"   </div>";
                  appStr=appStr+"  </div>";
                  appStr=appStr+"<HR style=\"border:1 dashed #987cb9\" width=\"100%\" color=#987cb9 SIZE=1>";
                  appStr=appStr+"</div>";
                  arr.push(appStr);
              });
        	  var addDivInfo= arr.join('');
      		  document.getElementById('biuuu_badetails_list').innerHTML = addDivInfo;
          }
      })
  });
  $(".reply_btn").click(function(){
      $(".reply_textarea").remove();
      $(this).parent().append("<div class='reply_textarea' style='width: 80%;margin-left: 20px;'>"+
		"<div class='layui-form-item'>"+
			"<textarea placeholder=\"请输入内容\" class=\"layui-textarea\"></textarea>"+
		"</div>"+
		 " <div class='layui-form-item'>"+
			"<button type=\"button\" class=\"layui-btn layui-btn-primary layui-btn-xs\">发表</button>"+
			"<button type=\"button\" onclick=\"restReply()\" class=\"layui-btn layui-btn-primary layui-btn-xs restReplyBtn\">取消回复</button>"+
			"</div>");
  });
  $(".restReplyBtn").click(function(){
	  alert(1);
	  $(".reply_textarea").remove();
  });
  
});
function restReply(){
	  $(".reply_textarea").remove();
}
function reply_btn(obj,commentId){
	debugger;
	$(".reply_textarea").remove();
    $(obj).parent().append("<div class='reply_textarea' style='width: 80%;margin-left: 20px;'>"+
		"<div class='layui-form-item'>"+
			"<textarea placeholder=\"请输入内容\" id='text_"+commentId+"' class=\"layui-textarea\"></textarea>"+
		"</div>"+
		 " <div class='layui-form-item'>"+
			"<button type=\"button\" onclick=\"replayPublished('"+commentId+"')\" class=\"layui-btn layui-btn-primary layui-btn-xs\">发表</button>"+
			"<button type=\"button\" onclick=\"restReply()\" class=\"layui-btn layui-btn-primary layui-btn-xs restReplyBtn\">取消回复</button>"+
			"</div>");
}
function replayPublished(commentId){
	debugger;
	var commentContent=$("#text_"+commentId).val();
	if(commentContent.length==0){
		alert("回复内容不能为空");
		return;
	}
	//回复评论：
	$.ajax({
          url:'/tbCommentInfo/publishedComment',
          type:'post',
          dataType:'json',
          data:{"postId":$("#hidden_postDetailsId").val(),"commentContent":commentContent,"commentParentId":commentId},
          success:function (res) {
              if (res.success == true){
            	  addCommentInfoHtml(res.obj,commentId)
            	  $(".reply_textarea").remove();
              }else{
                  layer.msg(res.msg);
              }
          }
      })
}
function addCommentInfoHtml(res,obj){
	debugger;
	var appStr="";
    appStr=appStr+"<div class=\"layui-row\" style=\"margin-top: 5px;text-align: center;padding-bottom:10px;\">";
    appStr=appStr+"  <div class=\"postDetailsItem\">";
    appStr=appStr+"    <ul>";
    appStr=appStr+"  		<li class=\"postDetailsItem_title\"><span style=\"margin-left: 10px;color: 3b65a1\"> ";
    if(res.toUserName!=null && res.toUserName.length>0){
  	  appStr=appStr+res.userName+"回复 "+res.toUserName;
    }else{
  	  appStr=appStr+res.userName;
    }
    appStr=appStr+"：</span> "+res.commentContent+"</li>";
    appStr=appStr+"    	<li class=\"postDetailsItem_li_pingjia\">";
    appStr=appStr+" 		<div style=\"margin-right: 10px;text-align: right;font-size: 11px;\">";
    appStr=appStr+"  	 		<span>"+res.commentTime+"</span>";
    appStr=appStr+"  			<a href=\"javascript:;\" id='"+res.commentId+"' onclick=\"reply_btn('#"+res.commentId+"','"+obj+"')\" class=\"reply_btn\">回复</a>";
    appStr=appStr+"    	</li>";
    appStr=appStr+"     </ul>";
    appStr=appStr+"  </div>";
    $("#top_"+obj).append(appStr);
}

</script>

</body>
</html>