@charset "UTF-8";
* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    outline: none;
}
 
html, body {
    width: 100%;
    height: 100%;
}
 
.main {
    height: 580px;
    width: 740px;
    margin: auto;
    box-shadow: 0 0 3px 5px #e1e1e1;
}
 
.main .box {
    width: 100%;
    height: 580px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 
.right_user{
	height: 580px;
    width: 730px;
}
.main .box .chat-list {
    float: left;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
}
 
.main .box .chat-list .list-box {
    height: 50px;
    width: 250px;
}
 
.main .box .chat-list .list-box.select {
    background-color: #dbdbdb;
}
 
.main .box .chat-list .list-box:hover {
    background-color: #dbdbdb;
}
 
.main .box .chat-list .list-box img.chat-head {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    margin: 5px 2px;
}
 
.main .box .chat-list .list-box .chat-rig {
    float: right;
    height: 40px;
    width: 178px;
    margin: 5px 0;
}
 
.main .box .chat-list .list-box .chat-rig .title {
    font-weight: 600;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 
.main .box .chat-list .list-box .chat-rig .text {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6C6C6C;
}
 
.main .box .box-right {
    float: left;
    width: 750px;
    height: 100%;
}
 
.main .box .box-right .recvfrom {
    width: 752px;
    height: 420px;
 
}
 
.main .box .box-right .recvfrom .nav-top {
    height: 35px;
    width: 100%;
    box-shadow: 0 2px 3px 0 #e1e1e1;
    border-radius: 2px;
}
 
.main .box .box-right .recvfrom .nav-top p {
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 25px;
    color: #393939;
}
 
.main .box .box-right .recvfrom .news-top {
    height: 380px;
    /* border-bottom: 1px solid #6C6C6C; */
    overflow-y: scroll;
}
 
.main .box .box-right .recvfrom .news-top ul {
    height: 100%;
    width: 100%;
}
 
.main .box .box-right .recvfrom .news-top ul li {
    margin: 10px;
    min-height: 80px;
    position: relative;
    overflow: hidden;
 
}
 
.main .box .box-right .recvfrom .news-top ul li .avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
 
.main .box .box-right .recvfrom .news-top ul li .msg {
    top: -10px;
    margin: 8px;
    min-height: 80px;
}
 
.main .box .box-right .recvfrom .news-top ul li::after {
    clear: both;
    content: "";
    display: inline-block;
}
 
.main .box .box-right .recvfrom .news-top ul li .msg .msg-text {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 8px;
}
.main .box .box-right .recvfrom .news-top ul li .msg .msg-name {
    color: #a1a9a7;
    font-size: 12px;
}
 
.main .box .box-right .recvfrom .news-top ul li .msg time {
    float: right;
    color: #ccc;
    font-size: 12px;
}
 
.main .box .box-right .recvfrom .news-top ul li.other .avatar {
    position: absolute;
    left: 0;
    top: 0;
}
 
.main .box .box-right .recvfrom .news-top ul li.other .msg {
    position: absolute;
    left: 40px;
 
}
 
.main .box .box-right .recvfrom .news-top ul li.self .avatar {
    position: absolute;
    right: 0;
    top: 0;
}
 
.main .box .box-right .recvfrom .news-top ul li.self .msg {
    position: absolute;
    right: 38px;
}
 
.main .box .box-right .sendto {
    width: 752px;
    height: 150px;
}
 
.main .box .box-right .sendto .but-nav {
    height: 40px;
}
 
.main .box .box-right .sendto .but-nav ul li {
    float: left;
    height: 22px;
    width: 22px;
    margin: 7px 15px;
    background-size: 100% 100%;
}
 
.main .box .box-right .sendto .but-nav ul li:hover {
    background-color: #dbdbdb;
}
 
.main .box .box-right .sendto .but-nav ul li.font {
    background-image: url("../images/msg/font.png");
}
 
.main .box .box-right .sendto .but-nav ul li.face {
    background-image: url("../images/msg/biaoqing.png");
}
 
.main .box .box-right .sendto .but-nav ul li.cut {
    background-image: url("../img/cut.png");
}
 
.main .box .box-right .sendto .but-nav ul li.page {
    background-image: url("../img/page.png");
}
 
.main .box .box-right .sendto .but-nav ul li.old {
    background-image: url("../img/old.png");
}
 
.main .box .box-right .sendto .but-text textarea {
    border: none;
    font-size: 14px;
    margin-left: 20px;
    width: 712px;
    height: 100px;
}
 
.main .box .box-right .sendto .but-text .button {
    float: right;
    padding: 5px 25px;
    background-color: #3bb4f2;
    margin-right: 20px;
}