.login {
	height: 905px;
	background-image: url(../img/dlbg_02.png);
	background-position: center 0%;
	background-repeat: no-repeat
}
.postDetailsItem{
	width: 80%;
	border: 1px solid #f0f1f2;
	background-color: #f7f8fa;
	margin-left: 10%;
	box-shadow: 2px 0px 2px #909090;
}
.postDetailsItem_title {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 12px;
	text-align: left
}

.postDetailsItem_li_pingjia {
	font-size: 13px;
	color: #999999
}
.div_right{
	text-align: right;
	margin-right: 10px;
}
.hr_xs{
	margin-top: 5px;
	margin-bottom: 5px;
}
.div_left{
	margin-left: 10px;
}
.myPostDiv{
	font-size: 12px;
	margin-left: 10px;
}