<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/tieba/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/reset.css}">
</head>
<body>

<div id="particles-js">
		<div class="login">
			<div class="login-top">
				登录/注册
			</div>
			<form class="layui-form">
				<div class="login-center clearfix">
					<div class="login-center-img"><img th:src="@{/images/login/name.png}"></div>
					<div class="login-center-input">
						<input type="text" name="loginName" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的用户名&#39;">
						<div class="login-center-input-text">用户名</div>
					</div>
				</div>
				<div class="login-center clearfix">
					<div class="login-center-img"><img th:src="@{/images/login/password.png}"></div>
					<div class="login-center-input">
						<input type="password" name="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的密码&#39;" class="layui-input">
						<div class="login-center-input-text">密码</div>
					</div>
				</div>
				<div class="login-button" lay-submit lay-filter="login">
					登陆
				</div>
				<hr/>
				 <p><a href="/register" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a></p>
			</form>
		</div>
		<div class="sk-rotating-plane"></div>
		<canvas class="particles-js-canvas-el" width="1920" height="920" style="width: 100%; height: 100%;"></canvas></div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/particles.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(login)',function (data) {
            $.ajax({
                url:'/toMian',
                data:{"username":$("input[name='loginName']").val(),"password":$("input[name='password']").val()},
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.success == true){
                    	if(data.obj.userType==1){
                    		 location.href = "/main/bgmtMian";
                    	}else{
                    		 location.href = "/post/main";
                    	}
                    }else{
                        layer.msg('登录名或密码错误');
                    }
                }
            })
            return false;
        })

    });
</script>
</body>
</html>
