<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/tieba/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/reset.css}">
</head>
<body>
 
<div id="particles-js">
		<div class="login">
			<div class="login-top">
				注册
			</div>
			<form class="layui-form">
				<div class="login-center clearfix layui-input-inline">
					<div class="login-center-img"><img src="./images/login/name.png"></div>
					<div class="login-center-input">
						<input type="text" name="loginName" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的用户名&#39;">
						<div class="login-center-input-text">用户名</div>
					</div>
				</div>
				<div class="login-center clearfix layui-input-inline">
					<div class="login-center-img layui-inline"><img src="./images/login/password.png"></div>
					<div class="login-center-input layui-inline">
						<input type="password" name="password" value="" id="pwd" placeholder="请输入您的密码" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的密码&#39;" class="layui-input">
						<div class="login-center-input-text">密码</div>
					</div>
		            <!-- 错号 -->
		            <div class="layui-inline">
		                <i class="layui-icon" id="pwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
		            </div>
				</div>
				<div class="login-center clearfix">
					<div class="login-center-img"><img src="./images/login/password.png"></div>
					<div class="login-center-input layui-inline">
						<input type="password" name="confirm_password" id="rpwd" value= "" required  lay-verify="required" placeholder="请二次确认您的密码" onfocus="this.placeholder=&#39;&#39;" class="layui-input">
						<div class="login-center-input-text">密码</div>
					</div>
		            <!-- 错号 -->
		            <div class="layui-inline">
		                <i class="layui-icon" id="rpwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
		            </div>
				</div>
				<div class="login-center clearfix">
					<div class="login-center-img"><img src="./images/login/email.png"></div>
					<div class="login-center-input">
						<input type="login_email" name="login_email" value="" placeholder="请输入您的邮箱账号" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的邮箱账号&#39;" class="layui-input">
						<div class="login-center-input-text">邮箱</div>
					</div>
				</div>
				<div class="login-button" lay-submit lay-filter="register">
					注册
				</div>
				<hr/>
			</form>
		</div>
		<div class="sk-rotating-plane"></div>
		<canvas class="particles-js-canvas-el" width="1920" height="920" style="width: 100%; height: 100%;"></canvas></div>
 
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/particles.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
     // 为密码添加正则验证
        $('#pwd').blur(function() {
                var reg = /^[\w]{6,12}$/;
                if(!($('#pwd').val().match(reg))){
                    //layer.msg('请输入合法密码');
                    $('#pwr').removeAttr('hidden');
                    $('#pri').attr('hidden','hidden');
                    layer.msg('请输入合法密码');
                }else {
                    $('#pri').removeAttr('hidden');
                    $('#pwr').attr('hidden','hidden');
                }
        });
      //添加表单监听事件,提交注册信息
        form.on('submit(register)', function() {
            $.ajax({
                url:'/saveRegister',
                type:'post',
                dataType:'json',
                data:{
                	loginName:$("input[name='loginName']").val(),
                	password:$("input[name='password']").val(),
                	email:$("input[name='login_email']").val()
                },
                success:function(data){
                    if (data.success == true) {
                        layer.msg('注册成功');
                        location.href = "/login";
                    }else {
                        layer.msg(data.msg);
                    }
                }
            })
            //防止页面跳转
            return false;
        });

        //验证两次密码是否一致
        $('#rpwd').blur(function() {
                if($('#pwd').val() != $('#rpwd').val()){
                    $('#rpwr').removeAttr('hidden');
                    $('#rpri').attr('hidden','hidden');
                    $("#rpwd").val("");//清空二次确认密码
                    layer.msg('两次输入密码不一致!');
                }else {
                    $('#rpri').removeAttr('hidden');
                    $('#rpwr').attr('hidden','hidden');
                };
        });

 
    });
</script>
</body>
</html>