<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/tieba/style}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/reset.css}">
 <style>
	.thumb {margin-left:5px; margin-top:5px; height:88px}
	#prevModal {width:80%; height:80%; text-align:center; display:none;}
	#img_prev {max-width:98%; max-height:98%; margin: 10px auto}
  </style>
</head>
<body>
 
<div class="layui-container">
<div class="site-text site-block">
	<form class="layui-form" id="myfrom">
	<div class="layui-form-item">
        <label class="layui-form-label">用户名:</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="username" th:value="${logininfo.userName}"  placeholder="填写用户名" autocomplete="off" class="layui-input username">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码:</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="password"  placeholder="请填写6到12位密码" autocomplete="off" class="layui-input password">
		</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">性别:</label>
        <div class="layui-input-block">
            <input type="radio" name="gender" value="0" title="男" checked="">
            <input type="radio" name="gender" value="1" title="女">
        </div>
    </div>
   <!--************这里是上传图片的代码***************-->
    <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->
    <input type="hidden" id="imagesId" name="images" class="image">
    <div class="layui-form-item">
        <label class="layui-form-label ">头像:</label>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-inline" id="uploadTaoImage">选择头像</button>
            <div class="layui-upload-list layui-inline">
                <img class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
            <div class='layui-input-block' id='div_prev' title=''></div>
        </div>
    </div>
    <!--************上面里是上传图片的代码***************-->
    <div class="layui-form-item">
        <label class="layui-form-label ">邮箱:</label>
		<div class="layui-input-block">
			<input type="text" name="login_email" th:value="${logininfo.email}" placeholder="请输入您的邮箱账号" onfocus="this.placeholder=&#39;&#39;" onblur="this.placeholder=&#39;请输入您的邮箱账号&#39;" class="layui-input">
		</div>
	</div>
    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="updateUser">修改</button>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
            <button type="reset" class="layui-btn layui-btn-radius  layui-btn-danger">重置</button>
        </div>
    </div>
    <br>
</form>
</div>
<div id='prevModal'>
	<img id='img_prev'/>
</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery','upload'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var upload =layui.upload;//上传类
      	//普通图片上传
        var fileupload=upload.render({
        	elem: '#uploadTaoImage',
        	url:'/upload/uploadImage',
        	//auto: false,
        	//bindAction: '#startUpload',
            // 选择完文件后，回调
            choose: function(obj){
    			var files = obj.pushFile(); //将每次选择的文件追加到文件队列
    			//图像预览，如果是多文件，会逐个添加。(不支持ie8/9)
    			obj.preview(function(index, file, result){
    				var imgobj = new Image(); //创建新img对象
    				imgobj.src = result; //指定数据源
    				imgobj.className = 'thumb';
    				imgobj.onclick = function(result) {
    					//单击预览
    					img_prev.src = this.src;
    					var w = $(window).width() - 42, h = $(window).height() - 42;
    					layer.open({
    						title: '预览',
    						type: 1,
    						area: [w, h], //宽高
    						content: $('#prevModal')
    					});
    				};
    				document.getElementById("div_prev").appendChild(imgobj); //添加到预览区域
    			});
             }
         	,done: function(res){
    	        //如果上传失败
    	       	if(res.success==true){
    	       		var fileupload = $(".image");
                    fileupload.attr("value",res.obj);
                    console.log(fileupload.attr("value"));
                    return layer.msg('上传成功',{icon:1,time:1500});
    	       	}else{
    	       		return layer.msg('上传失败',{icon:5,time:1500});
    	       	}
         	}
         	,error: function(){
           	//演示失败状态，并实现重传
           	var demoText = $('#demoText');
           	demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
           	demoText.find('.demo-reload').on('click', function(){
            uploadInst.upload();
           });
         }
       });
       form.on('submit(updateUser)',function (data) {
    	   //获得图片上传路径：
            $.ajax({
                url:'/tbUser/updateUser',
                data:{
                	"userName":$("input[name='username']").val(),
                	"password":$("input[name='password']").val(),
                	"sex":$("input[name='gender']").val(),
                	"headImageUrl":$("#imagesId").val(),
                	"email":$("input[name='login_email']").val()
                },
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.success == true){
                        //location.href = "/post/main";
                    	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    	parent.layer.close(index);
                    	//layerClose();
                    	layer.closeAll();
                    }else{
                        layer.msg('登录名或密码错误');
                        $("#myfrom")[0].reset();
                        layui.form.render();
                    }
                }
            })
            return false;
        })
    });
</script>
</body>
</html>