<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/tieba/style}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/reset.css}">
 <style>
	.thumb {margin-left:5px; margin-top:15px; height:128px}
	#prevModal {width:80%; height:80%; text-align:center; display:none;}
	#img_prev {max-width:98%; max-height:98%; margin: 10px auto}
  </style>
</head>

<body>

 <div class='layui-container' style='margin-top:15px'>
 	<div class="grid-demo">
            <div class="layui-upload" style="text-align: center">
                上传图片Demo02
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1">
                    <p id="demoText"></p>
                </div>
                <div class='layui-input-block' id='div_prev' title=''></div>
                <button type="button" class="layui-btn layui-btn-normal" id="selectADocument">选择文件</button>
                <button type="button" class="layui-btn" id="startUpload">开始上传</button>
            </div>
     </div>
</div>
<div id='prevModal'>
	<img id='img_prev'/>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/particles.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script type="text/javascript">
layui.use(['form','layer','jquery','upload'], function () {
    // 操作对象
	var form = layui.form;
    var $ = layui.jquery;
    var upload =layui.upload;//上传类
  	//普通图片上传
    upload.render({
    	elem: '#selectADocument',
    	url:'/upload/uploadImage',
    	auto: false,
    	bindAction: '#startUpload',
        // 选择完文件后，回调
        choose: function(obj){
			var files = obj.pushFile(); //将每次选择的文件追加到文件队列
			//图像预览，如果是多文件，会逐个添加。(不支持ie8/9)
			obj.preview(function(index, file, result){
				var imgobj = new Image(); //创建新img对象
				imgobj.src = result; //指定数据源
				imgobj.className = 'thumb';
				imgobj.onclick = function(result) {
					//单击预览
					img_prev.src = this.src;
					var w = $(window).width() - 42, h = $(window).height() - 42;
					layer.open({
						title: '预览',
						type: 1,
						area: [w, h], //宽高
						content: $('#prevModal')
					});
				};
				document.getElementById("div_prev").appendChild(imgobj); //添加到预览区域
			});
         }
     	,done: function(res){
	        //如果上传失败
	       	if(res.success==true){
	         	return layer.msg('上传失败',{icon:5,time:1500});
	       	}else{
	         	return layer.msg('上传成功',{icon:1,time:1500});
	       	}
     	}
     	,error: function(){
       	//演示失败状态，并实现重传
       	var demoText = $('#demoText');
       	demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
       	demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
       });
     }
   });
});
</script>
</body>
</html>
