<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"><title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/css/head_msg.css}" media="all">
</head>
<body>
<div class="main">
	<div class="top">
		<div class="top-left">
			<div class="header"></div>
			<div class="search">
				<input type="text"> <i class="icon-sear"></i>
			</div>
		</div>
		<div class="top-type">
			<a href="javascript:;" class="news icon-site" id="xiaoxiUrl"></a> 
			<a href="javascript:;" class="friend icon-site" id="msg_userCenter"></a>
			<a href="#" class="file icon-site"></a>
		</div>
		<div class="top-right">
			<i class="ic-menu ic-same"></i> <i class="ic-shrink ic-same"></i> <i
				class="ic-boost ic-same"></i> <i class="ic-close ic-same"></i>
		</div>
	</div>
</div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>
<script>
layui.use(['layer','jquery','element'], function(){
  layer = layui.layer;
  var $ = layui.jquery;
  var element = layui.element;
  $("#xiaoxiUrl").click(function(){
		/* var obj = parent.document.getElementById("ifream_left"); //取得父页面IFrame对象
		obj.attr("src","/main/msgUser"); */
		window.parent.switchTable(1);
	});
 $("#msg_userCenter").click(function(){
		/* var obj = parent.document.getElementById("ifream_left"); //取得父页面IFrame对象
		obj.attr("src","/main/msgUser"); */
		window.parent.switchTable(2);
	});
});
</script>
</body>
</html>