<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/reset.css}">
    <link rel="stylesheet" th:href="@{/css/life_msg.css}">
</head>
<body>
<div class="main">
	<div class="box">
        <div class="chat-list" id="mylistBox">
           <!--  <div class="list-box">
                <img class="chat-head" src="../static/img/img-header2.jpg" alt="">
                <div class="chat-rig">
                    <p class="title">公众号</p>
                    <p class="text">紧急！！！</p>
                </div>
            </div> -->
        </div> 
	</div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
	layui.use(['laypage', 'layer','jquery','element'], function(){
	  var laypage = layui.laypage
	  ,layer = layui.layer;
	  var $ = layui.jquery;
	  var element = layui.element;
	  layer.ready(function(){
		  //document.getElementById('disFWBContent').innerHTML = $("#hidden_postContent").val();
		  loadGroupUser();
	  }); 
    	$('.site-demo-active').on('click', function(){
    	    var othis = $(this), type = othis.data('type');
    	    active[type] ? active[type].call(this, othis) : '';
    	  });
    	function loadGroupUser() {
    		$.ajax({
    	          url:'/tbGroupUser/queryGroupInfo',
    	          type:'post',
    	          dataType:'json',
    	          async:false,
    	          data:{},
    	          success:function(res){
    	        	  if(res.success==true){
    	        		  var arr = [];
        	        	  layui.each(res.obj, function (index, res) {
        	                  var appStr="";
        	                  appStr=appStr+"<div class=\"list-box\" onclick=\"switchRight('"+res.groupId+"')\">";
        	                  appStr=appStr+" 	<img class=\"chat-head\" src=\"../images/head/head.png\">";
        	                  appStr=appStr+"   <div class=\"chat-rig\">";
        	                  appStr=appStr+"		<p class=\"title\">"+res.groupName+"</p>";
        	                  appStr=appStr+		"<p class=\"text\">"+(res.message==null?"":res.message)+"</p>";
        	                  appStr=appStr+"	 </div>";
           	                  appStr=appStr+"</div>";
        	                  arr.push(appStr);
        	              });
        	        	  document.getElementById('mylistBox').innerHTML = arr.join('');
    	        	  }
       	          }
    	      });
    	}
     });
	function switchRight(groupId){
		window.parent.switchLiftTable(groupId);
	}
</script>
</body>
</html>