<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/css/session-eg.css}">
</head>
<body>

	<div class="layui-container">
		<div class="myContent" style="width: 1005px;">
			<iframe src="/main/header" style="width: 100%; height: 60px;"
				frameborder="0"></iframe>
			<iframe src="/main/life" id="ifream_left"
				style="width: 248px; height: 590px;; float: left; margin-top: -5px;"
				frameborder="0"> </iframe>
			<iframe src="" id="ifream_right"
				style="height: 590px; width: 752px;" frameborder="0"></iframe>
		</div>
	</div>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/js/jquery.min.js}" charset="utf-8"></script>

	<script type="text/javascript">
	layui.use(['laypage', 'layer','jquery','element'], function(){
	  var laypage = layui.laypage
	  ,layer = layui.layer;
	  var $ = layui.jquery;
	  var element = layui.element;
    	$('.site-demo-active').on('click', function(){
    	    var othis = $(this), type = othis.data('type');
    	    active[type] ? active[type].call(this, othis) : '';
    	  });
     });
	function switchTable(type){
		debugger;
		if(type==1){
			$("#ifream_left").attr("src","/main/life");
			//$("#ifream_right").attr("src","/main/right");
		}else if(type==2){
			$("#ifream_left").attr("src","/main/msgUser");
			$("#ifream_right").attr("src","/main/msgUserright");
		}
	}
	function switchLiftTable(groupId){
		$("#ifream_right").attr("src","/main/right?groupId="+groupId);
	}
	function addGroupPage(){
		var a = layer.open({
		    type: 2,
		    area: ['60%','450px'],
		    title: '群组信息',
		    shadeClose: true,
		    btn:['确认添加','取消'],
		    btnAlign: 'c', //按钮居中
		    content: ['/tbGroupMessage/addGroupMessage','yes'],
		    yes: function(index, layero){
		    	debugger;
		    	var dateVaue=$(layero).find("iframe")[0].contentWindow.getDatePage();
		    	if(null!= dateVaue){
		    		$.ajax({
		    	          url:'/tbGroupMessage/creaetGroupUser',
		    	          type:'post',
		    	          dataType:'json',
		    	          async:false,
		    	          data:{"groupName":dateVaue.groupName,"groupInfo":dateVaue.groupInfo},
		    	          success:function(res){
		    	        	  if(res.success==true){
		    	        		  layer.msg("增加成功！");
		    	        		  layer.closeAll();
		    	        	  }
		     	          }
		    	      	});
		    	}
		   	},
		   	btn2: function(){
		       layer.closeAll();
		    }
	  });
	}
</script>
</body>
</html>