<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
	<th:block th:include="include :: header('消息列表')" />
    <link rel="stylesheet" th:href="@{/css/session-eg.css}">
</head>
<body>
 
<div class="myContent" style="width: 1005px;">
   	<iframe src="/main/life" style="width: 248px;height: 640px;;float: left;margin-top: -5px;" frameborder="0" > </iframe>
   	<iframe src="/main/right" style="height: 640px;width: 752px;" frameborder="0" ></iframe>
</div>
</body>
</html>