<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧平台</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  	<meta name="author" content="Vincent Garreau">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/life_msg.css}">
</head>
<body>
<div class="main">
	<div class="box">
		<div class="chat-list" id="mylistBox">
            <div style="width: 90%; margin: 0;margin-left: 10px;">
					<button type="button"  id="addGroupInfo" class="layui-btn layui-btn-primary layui-btn-fluid" style="height: 35px;">创建群组</button>
			</div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
	layui.use(['laypage', 'layer','jquery','element'], function(){
	  var laypage = layui.laypage
	  ,layer = layui.layer;
	  var $ = layui.jquery;
	  var element = layui.element;
	  $("#addGroupInfo").click(function(){
		  window.parent.addGroupPage();
	  });
     });
</script>
</body>
</html>