<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"><title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
	<style type="text/css">
		* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    outline: none;
}
 
html, body {
    width: 100%;
    height: 100%;
}
 
.main {
    height: 580px;
    width: 740px;
    margin: auto;
    box-shadow: 0 0 3px 5px #e1e1e1;
}
 
.main .box {
    width: 100%;
    height: 580px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
		.box-right{
			float: left;
    		width: 750px;
    		height: 100%;
		}
	
	</style>
</head>
<body>
<div class="main">
    <div class="box">
    	<div class="box-right">
    		<img alt="" th:src="@{/images/msg/qq_bg.png}" style="width: 98%;height: 580px;">
        </div>
    </div>
</div>
</body>
</html>