<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>贴吧平台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/right_msg.css}">
</head>
<body>
	<div class="main">
		<div class="box">
			<div class="box-right">
				<div class="recvfrom">
					<div class="nav-top">
						<p th:text="${groupInfo.groupName}">公众号</p>
					</div>
					<hr class="layui-bg-green" style="margin: 0 0 0 0;">
					<div class="news-top" id="chatDiv">
						<ul id="chatList">
						</ul>
					</div>
					<hr class="layui-bg-green" style="margin: 0 0 0 0;">
				</div>
				<div class="sendto">
					<!-- <div class="but-nav">
						<ul>
							<li class="font"></li>
							<li class="face"></li>
							<li class="cut"></li>
							<li class="page"></li>
							<li class="old"></li>
						</ul>
					</div> -->
					<div class="but-text">
						<input id="userId" th:value="${logininfo.userId}" type="hidden" />
						<input id="groupId" th:value="${groupInfo.groupId}" type="hidden" />
						<textarea name="" id="msg" cols="110" rows="6"></textarea>
						<a href="javascript:sendMsgTieba();" class="button">发送</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/socket.io.js}"></script>
	<script type="text/javascript">
	layui.use(['laypage', 'layer','jquery','element'], function(){
	  var laypage = layui.laypage
	  ,layer = layui.layer;
	  var $ = layui.jquery;
	  var element = layui.element;
	  layer.ready(function(){
		  //document.getElementById('disFWBContent').innerHTML = $("#hidden_postContent").val();
		  loadGroupMessage();
	  }); 
		/**
		加载数据库的聊天记录
	*/
	function loadGroupMessage() {
		var userId = $("#userId").val();
		$.ajax({
	          url:'/tbGroupMessage/queryGroupMessageInfo',
	          type:'post',
	          dataType:'json',
	          async:false,
	          data:{"groupId":$("#groupId").val()},
	          success:function(res){
	        	  if(res.success==true){
	        		  var arr = [];
  	        	  layui.each(res.obj.records, function (index, res) {
  	          			var isSelf = "other";
  	          			if (userId == res.userId) {
  	          				isSelf = "self";
  	          			} 
  	          			var li = '<li class="'+ isSelf+'">' + 
  	                      '<div class="avatar"><img src="../static/images/head/head_mr.png" alt=""></div>' + 
  	                      '<div class="msg"><p class="msg-name">'+res.userName +'</p>' + 
  	                      '<p class="msg-text">'+res.message+'<emoji class="pizza"></emoji></p>' + 
  	                      '<time>'+res.createTime +'</time></div></li>';
							arr.push(li);
  	              });
  	        	  $("#chatList").append(arr.join(''));
	          		  var div = document.getElementById('chatDiv');
	          		  div.scrollTop = div.scrollHeight;
	        	  }
 	          }
	      });
	}

     });
	var socket;
	connect();
	function connect() {
		var userId = $("#userId").val();
		socket = io.connect('http://47.93.151.177:8099');
		socket.on('connect', function() {
			console.log("连接成功");
			//serverOutput('<span class="connect-msg">连接成功</span>');
		});
		socket.on('groupMsgList', function(data) {
			serverOutPut(data);
		});
		socket.on('disconnect', function() {
			
		});
		socket.on('joinRoomSuc', function(data) {
			if (data.length > 0 ) {
				var groupId = data[0].groupId;
				$("#groupId").val(groupId);
			}
		});
	} 
	// 换群
	function groupTo() {
		socket.emit('pushGroupMessage', {
			"groupId":$("#groupId").val()
		});
	}
	
	function serverOutPut(data) {
		var userId = $("#userId").val();
		var isSelf = "other";
		if (userId == data.userId) {
			isSelf = "self";
		} 
		var li = '<li class="'+ isSelf+'">' + 
            '<div class="avatar"><img src="../static/images/head/head_mr.png" alt=""></div>' + 
            '<div class="msg"><p class="msg-name">'+data.userName +'</p>' + 
            '<p class="msg-text">'+data.msg+'<emoji class="pizza"></emoji></p>' + 
            '<time>'+data.time +'</time></div></li>';
		$("#chatList").append(li);
		var div = document.getElementById('chatDiv');
		div.scrollTop = div.scrollHeight;
	}
	// 发送消息
	function sendMsgTieba() {
		socket.emit('sendMsg', {
			"msg" : $("#msg").val(),
			"groupId":$("#groupId").val(),
			"userId":$("#userId").val()
		});
	}
	// 默认加群
	function joinRoom() {
		var userId = $("#userId").val();
		socket.emit('joinRoomList', {
			"userId":userId
		});
	}
	joinRoom();
</script>
</body>
</html>